[Unit]
Description=Configure u-blox GNSS receiver for marine use
Before=gpsd.service
After=dev-ttyAMA0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/halos/configure-ublox-marine.sh
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
